.wrapper {
	--height-top-background: 734px;
	--height-header: 80px;
	background-color: var(--black);
}

.background {
	position: relative;
	background-image: url(../../assets/medias/background-start.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: var(--height-top-background);
}

.gradient {
	background: rgba(0,0,0,.4);
	background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.header {
	display: flex;
	align-items: flex-start;
	left: 0;
	right: 0;
	position: absolute;
	padding-top: 28px;
	margin: 0 56px;
	height: var(--height-header);
	z-index: 1;
}

.logo {
	width: 16.7rem;
	height: 4.5rem;
	fill: var(--primary);
	margin-right: auto;
}

.content {
	position: relative;
	z-index: 1;
	top: var(--height-header);
	width: 100%;
	height: calc(var(--height-top-background) - var(--height-header));
	color: var(--text-color);
	padding: 145px 45px;
	display: flex;
	align-items: center;
	flex-direction: column;

	.title {
		font-size: 6.4rem;
		font-weight: 700;
		width: 800px;
		text-align: center;
		height: 140px;
		line-height: 1.1;
	}

	.sub-title {
		font-size: 2.6rem;
		font-weight: 400;
		width: 800px;
		text-align: center;
		margin: 16px 0;
	}

}

.story-card-wrapper {
	display: flex;
	justify-content: center;

	width: 100%;
	color: var(--text-color);
	padding: 70px 45px;
	border-top: 8px solid #222;
}

.story-card {
	display: flex;
	width: 1100px;

}

//TV
.text {
	width: 52%;
	display: flex;
    flex-direction: column;
    justify-content: center;
	
	h1 {
		font-size: 5rem;
		margin-bottom: 8px;
		line-height: 1.1;
	}

	h2 {
		font-size: 2.6rem;
		font-weight: 400;
		margin: 10px 0 6px;
	}
}

.img {
	display: flex;
	justify-content: center;
	width: 48%;
	height: 325px;
	position: relative;

	.tv {
		width: 100%;
		position: absolute;
		z-index: 1;
		top: -60px;

	}

	.video {
		position: absolute;
		width: 390px;
		top: 20px;
		right: 70px;
	}
}

// mobile
.animation-kids,
.animation-mobile {
	flex-direction: row-reverse;
}

.download {
	background-color: var(--black);
	display: flex;
	width: 330px;
	height: 104px;
	padding: 8px 12px;
	border: 2px solid hsla(0,0%,100%,.25);
	border-radius: 15px;
	position: absolute;
	bottom: 0;
}

.mobile {
	width: 100%;
	position: absolute;
	top: -45px;
}

.text-img {
	flex-grow: 1;
	margin-left: 16px;
	align-self: center;

	h3 {
		font-size: 16px;
	}

	p {
		font-size: 15px;
		color: #0071eb;
	}
}

.icon {
	align-self: center;
	width: 48px;
	height: 60px;
}

//Get app
.get-app {
	display: block;
    width: fit-content;
	font-size: 26px;
	margin: 13px 0;

	span {
		padding-right: 5px;
	}

	&:hover {
		opacity: 0.7;
	}
}

//Faq
.faq {
	flex-direction: column;
	align-items: center;

	.text h1 {
		text-align: center;
		margin-bottom: 60px;
	}
}

.faq-list {
	width: 75%;
	max-width: 815px;
    display: block;
    text-align: left;
	margin-bottom: 52px;
}

.faq-item {
	margin-bottom: 8px;
}

.faq-answer {
	font-size: 26px;
	margin-top: 1px;
	background: rgb(48, 48, 48);
	transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s;
	overflow: hidden;

	p {
		padding: 32px;
	}

	&.close {
		max-height: 0;
	}

	&.open {
		max-height: 1200px;
	}
}

.rotate {
	transform: translateY(-6%) rotate(45deg);
}
