.wrapper {
	min-height: 380px;
    display: flex;
    flex-direction: column;
}

.title {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 26px;
}

.login-form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.mail-wrapper {
	padding-bottom: 16px;
}

.username, .password {
	position: relative;
}

.input {
	width: 100%;
	height: 50px;
    border-radius: 4px;
	font-size: 1.6rem;
	padding: 16px 20px 0;
	background-color: #333333;
	color: var(--white);

	&:focus {
		background-color: rgb(69, 69, 69);
	}
}


.error {
	&:focus {
		border: unset;
		border-bottom: solid 2px #ffa00a;
	}
	border-bottom: solid 2px #ffa00a;

}


.input:focus,
.input:not([value='']) {
	+.label {
		font-size: 11px;
		font-weight: 400;
		top: 6px;
		transform: translateY(0);
	}
}

.label {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	color: #8c8c8c;
	transition: font .1s ease, top .1s ease, transform .1s ease;

}

.inputError {
	font-size: 1.3rem;
	color: #ffa00a;
	padding: 6px 3px;
	text-align: left;
}

.password-wrapper {
	position: relative;

    + .password-wrapper {
        margin-top: 8px;
    }
}


.set-type {
	font-size: 1.3rem;
	position: absolute;
	user-select: none;
	cursor: pointer;
	width: fit-content;
	height: 100%;
	padding: 0 12px;
	display: none;
	align-items: center;
	right: 0;
	top: 0;
	color: #8c8c8c;
}

.input-pass:focus,
.input-pass:not([value='']) {
	~.set-type  {
		display: flex;
	}
}


.submit {
	cursor: pointer ;
	width: 100%;
	height: 48px;
	border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 40px 0 12px;
	background-image: linear-gradient(180deg,#e50914,#db0510);
}

.login-form-help {
	display: flex;
	justify-content: space-between;
	color: #b3b3b3;
    font-size: 13px;
    font-weight: 400;
    margin-top: 12px;
}

.login-remember-me {
	display: flex;
	align-items: center;
	
	.checkbox {
		accent-color: #fff;
	}

	.label-text {
		user-select: none;
	}
}

.login-help-link {
	user-select: none;
	display: block;
	color: #b3b3b3 !important;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

// button login with google
.login-google {
    @extend .submit;
    margin-top: unset;
    margin-bottom: 60px;
    width: 100% !important;
}

// show success notify
.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn .2s;
}

.success-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    .success-icon {
        height: 6rem;
        width: 6rem;
        color: #5bf156;
        margin-bottom: 16px;
    }
}

.continue-login {
    margin-top: 30px;
    border-radius: 30px;
    padding: 10px 40px;
    font-size: 1.8rem;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.signup-now {
	color: #737373;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: auto;
	line-height: 1.1;

	.signup-link:hover {
		text-decoration: underline;
	}
}