.wrapper {
	background-color: red;
	font-family: var(--font-family);
	font-size: max(12px, 1.2vw);
    line-height: 1.4;
	color: var(--white);
	padding: max(6px,0.5vw) max(14px,1.1vw);
	border-radius: 2px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
    white-space: nowrap;
	+.wrapper {
		margin-left: 35px;
	}

	&:hover {
		cursor: pointer;
	}
}


.icon {
	color: var(--text-color);
	display: flex;  
	justify-content: center;
}

.icon-left {
	margin-right: 0.5vw;
}

.faq {
	font-size: 26px;
	width: 100%;
	background: rgb(48, 48, 48);
	text-align: left;
	border-radius: 0;
	padding: 21px 32px;
	display: flex;
	justify-content: space-between;
}