.wrapper {
	background-color: red;
	font-family: var(--font-family);
	font-size: 1.6rem;
	line-height: 1.5;
	color: var(--white);
	padding: 6px 17px;
	border-radius: 2px;
	min-height: 34px;

	+.wrapper {
		margin-left: 35px;
	}

	&:hover {
		cursor: pointer;
	}
}


.icon {
	color: var(--text-color);
	font-size: 25px;
    padding-left: 12px;
}



.faq {
	font-size: 26px;
	width: 100%;
	background: rgb(48, 48, 48);
	text-align: left;
	border-radius: 0;
	padding: 21px 32px;
	display: flex;
	justify-content: space-between;
}