.disable {
    display: none !important;
}

.trailer {
	position: absolute;
	z-index: -1;
	right: 0;
	left: 0;
	pointer-events: none;
    scale: 120%;
}

.background {
	pointer-events: none;
	opacity: 1;
	width: 100%;
	height: 100%;
	// overflow-y: hidden;
	pointer-events: none;
	position: absolute;
	z-index: 1;
}

.opacity {
	opacity: 0;
	transition: opacity 0.5s linear;
}

// Title - descriptions 
.more-info {
    padding-left: var(--PADDING);
	user-select: none;
	z-index: 3;
	position: absolute;
	bottom: 50%;

	.title {
		font-size: 6vw;
        // white-space: nowrap;
	}

	.overview {
        width: 35%;
		margin-top: 1.2vw;
        font-size: 1.2vw;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}
}

.more-info.preview {
    padding-left: 42px;
    bottom: 20%;
	.title {
		font-size: 40px;
        // white-space: nowrap;
	}
}

.button {
    position: absolute;
	display: flex;
	align-items: center;
	margin-top: 1.5vw;
}

.button.preview {
	margin-top: 20px;
    position: unset;

    .play-btn {
        padding: 6px 24px;
        font-size: 1.2vw !important;
    }

    .play-icon {
        height: 1.8vw;
        margin-right: 10px;
    }
}

.play-btn:hover, 
.info-btn:hover {
	opacity: .85;
} 

.play-btn, 
.info-btn {
	font-size: 1.2vw !important;
	font-weight: 700;
	border-radius: 4px !important;
}

.play-btn {
	background-color: var(--white) !important;
	color: var(--black) !important;
}

.play-icon {
	color: var(--black) !important;
	height: 1.5vw;
}

.info-icon {
	height: 1.5vw !important;

}

.info-btn {
	background-color: rgba(109, 109, 110, 0.7) !important;
    margin-left: 1.5vw !important;

}

.title-mini {
    position: absolute;
    font-size: 2rem;
    bottom:10px;
    margin-left: 16px;
    text-shadow: 2px 0 #555, -2px 0 #555, 0 2px #555, 0 -2px #555,
    1px 1px #555, -1px -1px #555, 1px -1px #555, -1px 1px #555;
}

// Control button
.control-layer {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 3;
	right: 0;
	bottom: 40%;
}

.control-layer.preview {
	bottom: 20%;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }

    .control-btn {
        width: 2.3vw;
        height: 2.3vw;
        margin-right: 42px;

    }
}

.control-layer.mini-modal {
    bottom: 10px;
    opacity: 0.6;

    .control-btn {
        height: 35px;
        width: 35px;
        background-color: #202020;
    }

    .icon-ctl {
        padding: 10px;
        width: 13px;
        height: 15px;
        background-color: transparent;
        color: var(--white);
    }

    &:hover {
        opacity: 1;
    }

}


.control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.7vw;
    height: 2.7vw;
    margin-right: 1.1vw;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: transparent;
	cursor: pointer;

	&:active {
		background-color: rgba($color: #fff, $alpha: .6);
	}
}

.icon-ctl {
	width: 1.2vw;
    height: 1.2vw;
	background-color: transparent;
	color: var(--white);
}

.maturity-rating {
    display: flex;
    align-items: center;
    background-color: rgba(51,51,51,.6);
    border-left: 3px solid #dcdcdc;
    font-size: 1.1vw;
    height: 2.4vw;
    padding: 0.5vw 3.5vw 0.5vw 0.8vw;
}

.maturity-number {
	// line-height: 30px;
}

// Laptop
@media (min-width: 1100rem) and (max-width: 1400rem) {
    
}