
// similar film
.similar {
    margin: 30px 42px 20px;
}

.similar-header {
    font-size: 2.4rem;
    margin-bottom: 20px;
}

.similar-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}



.more {
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(0deg, #181818 0, hsla(0deg, 0%, 9%, 0.7) 20%, hsla(0deg, 0%, 9%, 0.4) 30%, transparent 50%);
    height: 96px;
    width: calc(100% - 42px * 2);
    margin-top: -96px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 2px solid #404040;
}

.more-btn {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.4);
    transform: translateY(50%);

    &:hover {
        cursor: pointer;
        background-color: rgba($color: #fff, $alpha: .2);
        border: 2px solid rgba($color: #fff, $alpha: 1);
    }

    .more-icon {
        height: 28px;
    }
}

@media (max-width: 900px) {
    .similar-movies {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}