
.wrapper {
	position: relative;
	width: fit-content;
	color: var(--text-color);
}

.wrapper::before  {
	content: "\e896";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 8px;
	font-family: var(--font-icon);
    font-size: 1.2rem;
	pointer-events: none;
	color: inherit;
}

.wrapper::after  {
	content: "\e898";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 45px;
	font-family: var(--font-icon);
	font-size: 6px;
	pointer-events: none;
	color: inherit;
}

.select {
	background-color: rgba($color: #000000, $alpha: .4);
	border-radius: 3px;
	min-width: 112px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.medium {
	height: 36px;
	padding: 8px 22px;
	font-size: 1.4rem;
	margin-right: 35px;
	color: var(--text-color);
}

.large {
	height: 54px;
	width: 154px;
	padding: 12px 26px 12px 50px;
	font-size: 1.6rem;
	margin-right: 35px;
	color: var(--text-color);

}

@media (max-width: 549px) { 
    .wrapper {
        display: none;
    }
}