//Handle popup movie info
.popup-movie {
	cursor: pointer;
	position: absolute;
	z-index: 4;
	display: none;
    flex-direction: column;
	box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
	border-radius: 6px;
	overflow: hidden;
}

.popup-movie.show {
    display: flex;
    animation: zoomin .3s linear;

}

@keyframes zoomin {
    from {
        transform: scale(calc(2/3));
    }
    to {
        transform: scale(1);
    }
}

.trailer {
    position: relative;
}

.info {
    user-select: none;
	width: 100%;
	background-color: rgb(24, 24, 24);
    padding: 16px;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

.btn-controls {
    display: flex;
    flex-grow: 3;
}

.btn-control {    
    max-width: 42px;
    max-height: 42px;
    height: 42px;
    width: 42px;
    border: 2px solid #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-control:not(:first-child) {
    margin-left: 8px;
}

.btn-play {
    background-color: var(--white);
    color: var(--black);
    border: unset;
}

.btn-control.btn-more {
    margin-left: auto;

}

.meta-data {
    display: flex;
    align-items: center;
    margin: 12px 0;

    >div:not(:first-child) {
        margin-left: 8px;
    
    }
    
}

.match {
    color: #46d369;
}

.adult {
    border: 1px solid hsla(0,0%,100%,.4);
    padding: 0 6px;
}

.feature {
    font-size: 1.1rem;
    border: 1px solid hsla(0,0%,100%,.4);
    border-radius: 2px;
    padding: 0 5px;
}

.genre {
    display: flex;
    flex-wrap: wrap;
    color: var(--text-color);
    margin-bottom: 8px;
}

.genre-item {
    margin-right: 10px;
}

.genre-item:not(:first-child) {
    margin-left: 10px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #646464;
    }
}