.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .4;
  }
  
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    outline: 0;

  }
  
.modal {
    z-index: 13;
    background: #181818;
    position: relative;
    margin: 2.75rem auto;
    border-radius: 3px;
    width: 850px;
    overflow: hidden;
    // height: 3000px;

}
  
.trailer{ 
    position: relative;
    overflow: hidden;
    user-select: none;

    &::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 300px;
		bottom: 0;
		background-image: linear-gradient(to top, #181818, transparent 100%);
		z-index: 2;
	}
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: inherit;
    top: 10px;
    right: 10px;
    font-size: 1.9rem;
    font-weight: 700;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba($color: #181818, $alpha: .6);
    color: var(--white);

}

.more {
    user-select: none;
    margin: 0 42px;
    display: flex;
    justify-content: space-between;
}

.more-left{
    flex-basis: 60%;
}

.more-right{
    flex-basis: 35%;
}

.meta-data {
    display: flex;
    align-items: center;
    margin: 12px 0;

    >div:not(:first-child) {
        margin-left: 8px;
    
    }
    
}

.match {
    color: #46d369;
}

.adult {
    border: 1px solid hsla(0,0%,100%,.4);
    padding: 0 6px;
}

.feature {
    font-size: 1.1rem;
    border: 1px solid hsla(0,0%,100%,.4);
    border-radius: 2px;
    padding: 0 5px;
}

.cast,
.genre {
    margin: 12px 0;
}

.cast-title,
.genre-title {
    color: #777777;
    font-size: 1.4rem;

}

.cast-item:not(:last-child)::after,
.genre-item:not(:last-child)::after {
    content: ', ';

}

.cast-item,
.genre-item {
    font-size: 1.4rem;
    color: #fff;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.cast-more {
    font-style: italic;
}
