@import '../../../components/GlobalStyles/mixins';

.wrapper {
    max-width: 80%;
	width: 980px;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 40px;
}

.social-links {
	margin-bottom: 10px;

}

.social-link {
	margin-right: 15px;
}

.footer-links {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 5px;
	margin-bottom: 14px;
}

.footer-link-wrapper {
	// width: 245px;
	margin-bottom: 14px;

}


.footer-link-content {
	color: grey;
	font-size: 1.3rem;
}

.footer-country {
	font-size: 1.3rem;
	color: grey;
	margin-top: 20px;
	margin-bottom: 30px;
}

// small device
@include sm {
    .wrapper {
        align-items: center;
    }

    .footer-links {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 20px;
    }

    .footer-link-wrapper:nth-child(odd) {
        display: none;
    }

    .select {
        display: none;
    }
}