.main-header {
    position: unset;
}

.sub-header {
    height: var(--height-header);
    line-height: var(--height-header);
    position: sticky;
    z-index: 2;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--background-color);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .list-item {
        margin-bottom: 3vw;
    }
}

