body {
    --height-header: 68px;
}

.wrapper {

	height: var(--height-header);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
    top: 0;
	z-index: 10;
	background: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
}

.visible {
	background: var(--background-color);
	transition: background .5s ease;
}

.primary-nav {
	display: flex;
    align-items: center;
}

.menu-bar {
    display: none;
}

.menu-modal {
    display: none;
}

.logo-link {
	height: 31px;
	display: flex;
	align-items: center;
}

.logo {
	height: 100%;
	fill: var(--primary);
	margin-right: 25px;
}

.navigation {
    position: relative;
    display: flex;

    .nav-list {
        display: none;
    }
}

.nav-items {
	display: flex;
}

.nav-item {
	margin-left: 20px;
    white-space: nowrap;

    &:hover {
        cursor: pointer;
		opacity: .8;
		transition: opacity .4s;
	}
}

.nav-item-link {
    display: flex;
	align-items: center;
    justify-content: center;
	user-select: none;
	font-size: 1.4rem;
	color: var(--text-color);
    height: 100%;
    width: 100%;
}

.active {
	font-weight: 700;
	color: var(--white);
	pointer-events: none;
	&:hover {
		cursor: default;
	}
}

.icon-item:not(:last-child) {
	margin-right: 20px;
}

//Profile
.icon-nav {
	color: var(--white);
	align-items: center;
    display: flex;
    height: 100;
    position: absolute;
    right: var(--PADDING);
}

.notify-btn {
	--height-notify-btn: 36px;

	height: 36px;
	position: relative;
}

.notify-btn:hover .notifications {
	display: block;
}

.bell-icon {
	cursor: pointer;
	width: 20px;
	height: 20px;
	padding: 8px 8px;
}

.notifications {
	display: none;
	cursor: unset;
	background-color: rgba(0,0,0,.85);
    min-height: 100px;
    width: 408px;
	border: 1px solid hsla(0,0%,100%,.25);
	border-top: 2px solid var(--white);
    color: var(--white);
	position: absolute;
	top: calc(var(--height-header) / 2 + var(--height-notify-btn) /2);
	right: 0;
}

.notifications::before {
	content: "";
	position: absolute;
    z-index: 2;
	display: inline-block;
	border-color: transparent transparent var(--white) ;
	border-style: solid;
	border-width: 0 7px 7px;
	top: -9px;
	right: 9px;
}

.notifications::after {
	content: "";
	position: absolute;
	background-color: transparent;
	width: 50px;
	height: 20px;
	top: -20px;
    right: 0;
}

.empty-notify {
	user-select: none;
	padding: 50px 0;
	text-align: center;
	color: #6d6d6d;
	font-size: 1.3rem;
}

.account-items {
	--height-account: 32px;

	height: var(--height-account);
	align-items: center;
    display: flex;
	position: relative;
	&:hover {
		.arrow-icon{
			transform: rotate(180deg);
		}

		.menu-items {
			display: block;
		}
	}
}

.avatar {
	width: 32px;
	height: 32px;
	border-radius: 4px;
	cursor: pointer;
}

.arrow-icon {
	cursor: pointer;
	margin-left: 10px;
	height: 0;
	border-color: var(--white) transparent transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	transition: transform 367ms cubic-bezier(.21,0,.07,1);
}

.menu-items {
	display: none;
	background-color: rgba(0,0,0,.85);
    width: 220px;
	border: 1px solid hsla(0,0%,100%,.25);
    color: var(--white);
	position: absolute;
	top: calc(var(--height-header) / 2 + var(--height-account) / 2);
	right: 0;
	font-size: 1.3rem;
}

.profile-link {
	height: 34px;
	padding: 5px 10px;
	display: flex;
	align-items: center;

	&:hover {
		text-decoration: underline;
	}
}

.menu-icon {
	height: 20px;
	width: 20px;
	padding: 0 13px 0 5px;
}

.menu-items::before {
	content: "";
	position: absolute;
	display: inline-block;
	border-color: transparent transparent var(--white) ;
	border-style: solid;
	border-width: 0 7px 7px;
	top: -8px;
	right: 28px;
}

.menu-items::after {
	content: "";
	position: absolute;
	background-color: transparent;
	width: 70px;
	height: 20px;
	top: -20px;
    right: 0;
}

.signout {
	cursor: pointer;
	border-top: 1px solid hsla(0,0%,100%,.25);
	padding: 15px 10px;
	text-align: center;

	&:hover {
		text-decoration: underline;
	}
}

@media ( max-width: 950px) {
    body {
        --height-header: 41px;
    }

    .logo-link {
        height: 21px;
    }

    .nav-item-link {
        font-size: 1.2rem;
    }

    .arrow-icon {
        display: none;
    }

    .menu-items {
        top: calc(var(--height-header) / 2 + var(--height-account) / 2 + 10px) ;
    }

    .menu-items::before {
        right: 10px;
    }
}

// medium
@media ( max-width: 799px) {
    .navigation{
        &:hover {
            .nav-items {
                display: flex;
            }
        }

        .nav-list-wrapper {
            display: flex;
            align-items: center;
            user-select: none;

            &:hover {
                cursor: pointer;
            }
        }

        .nav-list {
            font-size: 1.2rem;
            display: flex;
            align-items: center;

            
        }

        .arrow-list {
            margin-left: 5px;
            height: 0;
            border-color: var(--white) transparent transparent;
            border-style: solid;
            border-width: 5px 5px 0;
        }        
    }

    .nav-items{ 
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 3;
        top: calc(var(--height-header)  ) ;
        width: 260px;
        border: 1px solid hsla(0,0%,100%,.25);
        border-top: 2px solid #fff;
        color: var(--white);
        left: 100%;
        transform: translateX(-52%);
    }

    .nav-items::before {
        content: "";
        position: absolute;
        border-color: transparent transparent var(--white) ;
        border-style: solid;
        border-width: 0 7px 7px;
        top: -9px;
        right: 45%;
        transform: translateX(-50%);
    }

    .nav-items::after {
        content: "";
        position: absolute;
        background-color: transparent;
        height: 30px;
        width: 100%;
        top: -30px;
    }

    .nav-item {
        margin-left: unset;
        background-color: rgba(0,0,0,.9);
        width: 100%;
        height: 50px;
        padding: 5px 10px;
        display: flex;
        justify-content: center;

	&:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,.8);
        opacity: 1;
	}
    }

    .nav-item-link {
        font-size: 13px;
    }
 }

// small 
@media ( max-width: 499px) {
    .menu-bar {
        display: flex;
        margin-right: 12px;

        &:hover {
            cursor: pointer;
        }

        .menu-bar-icon {
            height: 24px;
        }

        &:active {
            .menu-modal {
                display: block;
            }
        }

        .menu-modal {
            display: none;
            position: fixed;
            background-color: #6d6d6d;
            top: var(--height-header);
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .icon-nav .icon-item:not(:first-child) {
        display: none;
    }

    .icon-item {
        margin-right: 0 !important;
    }
}