
.background-wrapper {
	user-select: none;
	position: relative;
    overflow: hidden;

	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 300px;
		bottom: 0;
		background-image: linear-gradient(to top, var(--background-color), transparent 100%);
		z-index: 2;
	}
}

.trending {
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 2;
}

// small
@media (max-width: 499px) {
    .background-wrapper {
        position: unset;
        margin-top: var(--height-header);
        height: auto !important;
        &::before {
            display: none;
        }
    }
    .trailer {
        display: none;
    }

    .trending {
        position: unset;
    }
} 