.search-wrapper {
	position: relative;
	overflow-X: hidden;
	display: flex;

}

.search-text {
	height: 36px;
	border: none;
	display: flex;
	align-items: center;
}

.search-text.show {
	border: 1px solid var(--white);
	transform: translateX(0);

	.search-input {
		width: 212px;
		padding: 7px 14px 7px 7px;
		margin-right: 10px;
		transition: width 0.4s ease-out;

	}

	.search-icon {
		cursor: unset;
	}
}

.search-icon {
	height: 20px;
	width: 24px;
	padding: 0 6px;
	cursor: pointer;
}

.search-input {
	background-color: #000;
	font-size: 1.4rem;
	color: var(--white);
	width: 0;
	height: 100%;
}

.clear,
.loading {
	background-color: transparent;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%)
}

.loading,
.clear-icon {
	height: 16px;
	width: 16px;
	color: var(--white);
}

.loading {
	animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
	from {
		transform: translateY(-50%) rotate(0deg);
	}
	to {
		transform: translateY(-50%) rotate(360deg);
	}
}