.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    cursor: pointer;

    &:active {
		background-color: rgba($color: #fff, $alpha: .6);
	}
}


.icon-check,
.icon-add {
    width: 1.2vw;
    height: 1.2vw;
}