
.wrapper {
	position: relative;
	margin-top: 55px;
	// z-index: 7;
}

.header {
	user-select: none;
	// margin-left: 60px;
	margin-bottom: 20px;
	display: inline-flex;
	cursor: pointer;
	align-items: flex-end;

	&:hover {
		.icon-explore {
			opacity: 1;
			transition: transform .3s ease-in;
			transform: translateX(0);
		}
		.title-explore {
			opacity: 1;
			transition: right .2s ease-out;
			right: 0;
		}

	}
}

.title {
	font-size: 2.6rem;	
	line-height: 26px;
}

.title-explore,
.icon-explore {
	line-height: 16px;
	color: #54b9c5;
	font-weight: 700;
}

.title-explore {
	position: relative;
	right: 15px;
	margin-left: 16px;
	opacity: 0;
}

.icon-explore {
	opacity: 0;
	margin-left: 2px;
	transform: translateX(-95px);

}
.icon-explore.show {
	display: unset;
	opacity: 1;
}

.trending-items {
	// overflow-x: scroll;
	background-color: transparent;
	display: flex;
	transition: transform 1s ease;

}

// .trending-items::-webkit-scrollbar {
// 	display: none;
//   }

.trending-item {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.trending-bg {
	border-radius: 4px;
}

.items-control {
	position: relative;

	&:hover {
		.prev-btn,
		.next-btn  {
			display: block;
		}
		~ .slide-indecator {
			display: flex;
		}
	}
}

// Button slide
.next-btn,
.prev-btn {
	display: none;
	cursor: pointer;
	position: absolute;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, .3);
	color: var(--text-color);

	&:hover {
		background-color: rgba(0, 0, 0, .5);

		.icon-control {
			scale: 1.2;
			transition: scale 0.2s ease;
		}
	}
}

.next-btn {
	right: 0;
	z-index: 1;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.prev-btn {
	left: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.icon-control {
	color: var(--text-color);
	height: 30px;
}

.slide-indecator {
	position: absolute;
	right: 60px;
	top: 32px;
	z-index: 2;
	display: none;
}

.dot-indecator {
	width: 12px;
	height: 2px;
	background-color:  #4d4d4d;
	margin-left: 1px;
}

.dot-indecator.active {
	background-color:  #aaa;
}

//Handle popup movie info
.popup-movie {
	cursor: pointer;
	position: absolute;
	z-index: 3;
	display: flex;
    flex-direction: column;
	box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
	border-radius: 4px;
	overflow: hidden;
}

.info {
	width: 100%;
	background-color: rgb(24, 24, 24);
}